@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    transition: .2s;
}

html,body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

// copied Start

.fw-bold {
  font-weight: bold;
}
.fw-medium {
  font-weight: 400;
}
.main-blue {
  color: $main-blue !important;
}
.grey-text {
  color: $main-grey;
}

// Button back
.button-back {
  cursor: pointer;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    transition: .2s;

    &:hover .button-back__text {
      transition: .2s;
      color: $border;
    }
    &:hover .button-back__arrow {
      transition: .2s;
      fill: $border;
    }
}
.button-back__arrow {
    fill: $main-blue;
    transition: .2s;
}
.button-back__text {
    color: $main-blue;
    text-decoration: underline;
    text-align: start;
    transition: .2s;
}
// Button back

.button {
  cursor: pointer;
  width: 100%;
  height: 3.75rem;
  border-radius: 0.25rem;
  transition: .2s;
  background-color: $main-blue;
  color: white;
  
  &:hover {
    transition: .2s;
    opacity: 0.8;
  }
}

// Star (Избранное)

.star {
  cursor: pointer;
  stroke: $yellow;
  transition: .2s;
  width: 30px;
  height: 30px;
  flex-shrink: 0;

  &:hover {
      opacity: 0.8;
      fill: $yellow;
      transition: .2s;
  }
}
.star--filled {
  fill: $yellow;
}

// Star end



.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
// copied End
  