@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
    transition: .2s;
}

html,body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

// copied Start

.fw-bold {
  font-weight: bold;
}
.fw-medium {
  font-weight: 400;
}
.main-blue {
  color: $main-blue !important;
}
.grey-text {
  color: $main-grey;
}

// Button back
.button-back {
  cursor: pointer;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    transition: .2s;

    &:hover .button-back__text {
      transition: .2s;
      color: $border;
    }
    &:hover .button-back__arrow {
      transition: .2s;
      fill: $border;
    }
}
.button-back__arrow {
    fill: $main-blue;
    transition: .2s;
}
.button-back__text {
    color: $main-blue;
    text-decoration: underline;
    text-align: start;
    transition: .2s;
}
// Button back

.button {
  cursor: pointer;
  width: 100%;
  height: 3.75rem;
  border-radius: 0.25rem;
  transition: .2s;
  background-color: $main-blue;
  color: white;
  
  &:hover {
    transition: .2s;
    opacity: 0.8;
  }
}

// Star (Избранное)

.star {
  cursor: pointer;
  stroke: $yellow;
  transition: .2s;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  fill: none;

  &:hover {
    opacity: 0.8;
    fill: $yellow;
    transition: .2s;
  }
}
.star--filled {
  fill: $yellow;
}
.star--scaled {
  transform: scale(1.1);
  opacity: .8;
}

// Star end

// Question-interaction
.question-interaction {
  display: flex;
  gap: 10px;
}

.favorites {
  cursor: pointer;
  height: 50px;
  width: 180px;
  background-color: #ebf9ff;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 6px;

  &:hover {
    background-color: #d5e8f0;
  }
}
.complaint {
  cursor: pointer;
  height: 50px;
  width: 180px;
  background-color: #ebf9ff;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  border-radius: 6px;

  &:hover {
    background-color: #d5e8f0;
  }
}
.complaint__icon {
  fill: $yellow;
  width: 25px;
  height: 25px;
}

.ticket-info {
  display: flex;
  gap: 20px;
  margin-top: 14px;
  margin-bottom: 14px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
// Question-interaction

.nothing-found {
  color: #ff1d4e;
  font-size: 18px;
}

.loader-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
// copied End
  