{% load django_vite %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/ais-logo.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} <meta name="csrf-token" content="{{ csrf_token }}"> {% endcomment %}
    {% vite_hmr_client %}
  {% vite_asset 'main.ts' %}
    <title>Аис ПЭК</title>
  </head>
  <body>
    <div id="app"></div>
    {% comment %} <script type="module" src="/src/main.ts"></script> {% endcomment %}
  </body>
</html>